.content {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs {
  flex-basis: 30%;
  background-color: cadetblue;
  margin: 0;
  padding: 10px;
  list-style: none;
}

.messages {
  flex-basis: 70%;
  background-color: rgb(196, 242, 253);
  margin: 0;
  padding: 10px;
  list-style: none;
}

.old {
  margin-bottom: 20px;
}
.new textarea {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  height: 80px;
}
.new button {
  width: 100px;
  height: 40px;
}